body {
    min-width: 960px;
    background: url(http://vignette4.wikia.nocookie.net/elderscrolls/images/9/9d/Skyrim_Scenery.jpg/revision/latest?cb=20121130185350)fixed top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
h1{
    font-family: arial;
    font-size: 50px;
    font-weight: bold;
}
#main {
    width: 900px;
    height: 2100px;
    background: gray;
    margin: 10px auto;
    border: solid 2px black;
}
div {
    width: 720px;
    background: white;
    border: 3px solid black;
    margin: 85px; 
}
p {
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    text-indent:1em;  
    text-align:justify;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: black;
}
div.box
{text-align: center;

}
img{
    width:600px;
	background-color:transparent;
	border:0;
}

